# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove if using modules)
vendor/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.env
